<% form.fields_for :settings, settings do |settings_fields| %>
  <%= settings_fields.text_field :background_color, label: t(".background_color"), type: "color" %>
  <%= settings_fields.text_field :font_color_over_bg, label: t(".font_color_over_bg"), type: "color" %>
<% end %>

<ul class="tabs" data-tabs id="newsletter-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><%= t(".introduction") %></a></li>
  <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2"><%= t(".body") %></a></li>
  <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3"><%= t(".footer") %></a></li>
</ul>

<div class="tabs-content" data-tabs-content="newsletter-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <fieldset class="fieldset">
      <% form.fields_for :settings, settings do |settings_fields| %>
        <%= settings_fields.translated :text_field, :intro_title, label: t(".intro_title") %>
        <%= settings_fields.translated :editor, :intro_text, label: t(".intro_text") %>
        <%= settings_fields.translated :text_field, :intro_link_text, label: t(".intro_link_text") if theme == "capitalitat" %>
        <%= settings_fields.text_field :intro_link_url, label: t(".intro_link_url") if theme == "capitalitat" %>
      <% end %>
      <% form.fields_for :images, form.object.images do |images_fields| %>
        <%= images_fields.upload :main_image, label: t(".main_image") %>
      <% end %>
    </fieldset>
  </div>

  <div class="tabs-panel" id="panel2">
    <p><%= t(".tab_body_description") %></p>
    <fieldset class="fieldset">
      <% form.fields_for :settings, settings do |settings_fields| %>
        <%= settings_fields.translated :text_field, :body_title, label: t(".body_title") unless theme == "capitalitat" %>
        <%= settings_fields.translated :text_field, :body_subtitle, label: t(".body_subtitle") unless theme == "capitalitat" %>
        <ul id="box-container" class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <% (1..4).each do |num| %>
            <li class="box accordion-item" id="box<%= num %>" data-accordion-item>
              <a href="#" class="accordion-title body-box-title"><%= t(".boxes_number_title", number: num) %>:</a>
              <div class="accordion-content" data-tab-content>
                <%= settings_fields.translated :text_field, "body_box_title_#{num}", label: t(".body_box_title") %>
                <%= settings_fields.translated :text_field, "body_box_date_time_#{num}", label: t(".body_box_date_time") %>
                <%= settings_fields.translated :text_field, "body_box_description_#{num}", label: t(".body_box_description"), maxlength: 250 %>
                <%= settings_fields.translated :text_field, "body_box_link_text_#{num}", label: t(".body_box_link_text") %>
                <%= settings_fields.translated :text_field, "body_box_link_url_#{num}", label: t(".body_box_link_url") %>
                <% form.fields_for :images, form.object.images do |images_fields| %>
                  <%= images_fields.upload :"body_box_image_#{num}", label: t(".body_box_image") %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= settings_fields.translated :text_field, :body_final_text, label: t(".body_final_text") unless theme == "capitalitat" %>
      <% end %>
    </fieldset>
  </div>

  <div class="tabs-panel" id="panel3">
    <p><%= t(".tab_footer_description") %></p>
    <fieldset class="fieldset">
      <% form.fields_for :settings, settings do |settings_fields| %>
        <%= settings_fields.translated :text_field, :footer_title, label: t(".footer_title") %>

        <ul id="footer-container" class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <% (1..3).each do |num| %>
            <li class="box accordion-item" id="box<%= num %>" data-accordion-item>
              <a href="#" class="accordion-title body-box-title"><%= t(".boxes_number_title", number: num) %>:</a>
              <div class="accordion-content" data-tab-content>
                <%= settings_fields.translated :text_field, "footer_box_date_time_#{num}", label: t(".footer_box_date_time") %>
                <%= settings_fields.translated :text_field, "footer_box_title_#{num}", label: t(".footer_box_title") %>
                <%= settings_fields.translated :text_field, "footer_box_description_#{num}", label: t(".footer_box_description"), maxlength: 250 if theme == "capitalitat" %>
                <%= settings_fields.translated :text_field, "footer_box_link_text_#{num}", label: t(".footer_box_link_text") %>
                <%= settings_fields.translated :text_field, "footer_box_link_url_#{num}", label: t(".footer_box_link_url") %>
                <% form.fields_for :images, form.object.images do |images_fields| %>
                  <%= images_fields.upload :"footer_box_image_#{num}", label: t(".footer_box_image") %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= settings_fields.editor :footer_address_text, label: t(".footer_address") unless theme == "capitalitat" %>
        <%= settings_fields.translated :text_field, :footer_social_links_title, label: t(".footer_social_links_title") %>
        <%= settings_fields.translated :text_field, :footer_additional_text if theme == "capitalitat" %>
        <% unless theme == "capitalitat" %>
        <div class="label--tabs">
          <label for="organization_social_handlers">
            <%= t(".social_handlers") %>
          </label>
          <ul class="tabs tabs--lang" data-tabs id="organization_social_handlers">
            <% Decidim::NewsletterAgenda.additional_social_handlers.each do |handler| %>
              <li class="tabs-title <% if handler == Decidim::NewsletterAgenda.additional_social_handlers.first %> is-active <% end %>">
                <a href="#<%= handler %>" <% if handler == Decidim::NewsletterAgenda.additional_social_handlers.first %> aria-selected="true" <% end %>>
                  <%= t(".#{handler}") %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tabs-content" data-tabs-content="organization_social_handlers">
          <% Decidim::NewsletterAgenda.additional_social_handlers.each do |handler| %>
            <div class="tabs-panel <% if handler == Decidim::NewsletterAgenda.additional_social_handlers.first %> is-active <% end %>" id="<%= handler %>">
              <%= settings_fields.text_field "#{handler}_handler", label: false %>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>

<div class="row column">
  <%= t(".interpolations_hint") %>
</div>

<%= stylesheet_pack_tag "decidim_newsletter_agenda" %>
