<style>
  table.container {
    background: <%= background_color %> !important;
    width: 816px !important;
    color: #ffffff !important;
  }

  table.container th, table.container td, table.container p, table.container .intro-link, .footer-box-link a {
    color: <%= font_color_over_bg %> !important;
  }

  table.container a {
    text-decoration: underline;
  }

  table.container th {
    padding-left: 0;
    padding-right: 0;
  }

  td.introduction, .middle, .footer {
    padding: 10% 10% 0 10%;
  }

  table.introduction, table.introduction td, table.introduction td p {
    color: #ffffff !important;
    padding: 20px 0;
  }

  td.agenda .top {
    background: <%= background_color %> url(<%= background_image_top %>) no-repeat center 100%;
  !important;
    color: #000000 !important;
    height: 387px;
  }

  td.agenda .bottom {
    background: <%= background_color %> url(<%= background_image_bottom %>) no-repeat center 100%;
  !important;
    color: #000000 !important;
    height: 387px;
    position: relative;
    z-index: 1;
  }

  .middle table {
    position: relative;
    top: -150px;
  }

  table.agenda td, table.agenda p {
    background: #ffffff !important;
    color: #000000 !important;
  }

  td.footer {
  }

  .body-subtitle {
    color: <%= background_color %>;
    font-size: 36px;
  }

  .box {
    margin-bottom: 30px;
  }

  .body-box-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: <%= background_color %>;
  }

  .box-image {
    margin-bottom: 20px;
  }

  .box-link {
    color: <%= background_color %> !important;
    margin-top: 20px;
  }

  .footer-title {
    margin: 5% auto;
    min-width: 70%;
    text-align: center;
  }

  .footer-box-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }

  .footer-social__icon .icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    fill: <%= font_color_over_bg %>;
  }

  .footer-social {
    margin: 20px 0;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-address {
    width: 50%;
  }

  .footer-address p {
    font-size: 90%;
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 10% 0;
  }

  .footer-social__wrap {
    width: 45%;
  }

  td.footer-address strong {
    font-weight: bold;
  }
</style>

<table class="main container">
  <tr>
    <td class="introduction">
      <table class="introduction">
        <tr>
          <td style="font-size:50px;line-height:30px;text-align:center;">
            <%= organization_logo %>
          </td>
        </tr>
        <tr>
          <td style="font-size:30px;line-height:30px;">
            <%= intro_title %>
          </td>
        </tr>
        <% if has_main_image? %>
          <tr>
            <td>
              <table class="row content image">
                <tr>
                  <th class="small-12 first columns">
                    <%= main_image %>
                  </th>
                  <th class="expander"></th>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= intro_text %>
            <%= link_to intro_link_text, intro_link_url, target: :blank, class: "intro-link" %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="agenda">
      <table class="agenda">
        <tr>
          <td class="top">
            <div style="text-align: center;margin: 60px 0 40px;padding: 5% 2% 0;">
              <%= body_title %>
            </div>
            <div class="body-subtitle" style="text-align: center;">
              <%= body_subtitle %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="middle">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
              <tr>
                <% (1..4).each_slice(2) do |boxes| %>
                <tr>
                  <% boxes.each do |box_number| %>
                    <td style="padding: 10px;">
                      <div class="box">
                        <div class="box-image">
                          <%= body_box_image(box_number) if has_body_box_image?(box_number) %>
                        </div>
                        <div class="box_date_time">
                          <%= body_box_date_time(box_number) %>
                        </div>
                        <div class="body-box-title">
                          <%= body_box_title(box_number) %>
                        </div>
                        <div class="box-text">
                          <%= body_box_description(box_number) %>
                        </div>
                        <div class="box-link">
                          <%= link_to body_box_link_text(box_number), body_box_link_url(box_number), target: :blank, class: "box-link" %>
                        </div>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="bottom">
            <center>
              <%= body_final_text %>
            </center>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer">
      <table>
        <tr>
          <h3 class="footer-title"><%= footer_title %></h3>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
          <% (1..3).each do |box_number| %>
            <td style="padding: 10px;">
              <div class="box">
                <div class="box-image">
                  <%= footer_box_image(box_number) if has_footer_box_image?(box_number) %>
                </div>
                <div class="footer-box-date-time">
                  <%= footer_box_date_time(box_number) %>
                </div>
                <div class="footer-box-title">
                  <%= body_box_title(box_number) %>
                </div>
                <div class="footer-box-link">
                  <%= link_to body_box_link_text(box_number), body_box_link_url(box_number), target: :blank %>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      </table>
      <table>
        <tr class="footer-bottom">
          <td class="footer-address">
            <%= footer_address_text.html_safe %>
          </td>
          <td class="footer-social__wrap">
            <%= footer_social_links_title %>
            <div class="footer-social">
              <%= social_links.join.html_safe %>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="footer-bottom">
            <%= footer_image %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
